*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$mainBlack:#222;
$mainGreen:#3fad31;
$mainWhite:#FFF;
$mainGrey:#ececec;

body{
    background-color: $mainWhite;
    color: $mainBlack;
    font-family: 'Roboto', sans-serif;
}


